<form (ngSubmit)="onSubmit()" #form>         <!--ngSubmit is an Angular event binding that listens for the form submission event-->
  <app-control label="Title">
    <input
      name="title"
      id="title"
      #input
      [(ngModel)]="enteredTitle"
    />                                        <!--#titleInput is a 'template variable', local reference to the input element -->
  </app-control>
  <app-control label="Request">
    <textarea
      name="request"
      id="request"
      rows="3"
      #input
      [(ngModel)]="enteredText"
      ]
    ></textarea>
  </app-control>
  <p>
    <button appButton #btn>
      Submit
      <span ngProjectAs="icon"> ➤ </span>
    </button>
  </p>
</form>

<!-- 1. By default the template variable gives access to the DOM element. So titleInput.value gets the value of the input field.
But if it is a more complex component, you can also access its properties and methods directly through the template variable.
ex. If you have a custom component with an @Input() property called 'data', you can access it like this:
<button #btn></button>
this will give you access to the button component instance through the btn variable.
 -->
